<head>
        <link rel="stylesheet" href="../css/main.css" type=text/css> </head> <div id="login-box">
        </head>
                                                                                                              
<form method="post">
    <div class="box">
        <h1><b><i>CHAT APP</i></b></h1>

        <i>Email id : </i><input type="username" name="email" placeholder="email address " required  ng-model="user.email"; class="email" />
        
        <div>
            <i> Password : </i><input type="password" name="password    " placeholder="password" required ng-model="user.password"
                ; class="email" />
        </div>

        
        <a href="#">
            <div class="btn" ng-click="login()" value=login>Log In </div>
        </a> <!-- End Btn -->
        <a href="#!/register">register</a>


    </div> <!-- End Box -->
</form>