<html>

<head>
    <link rel="stylesheet" href="../css/singleChat.css" type="text/css" />
</head>

<body ng-controller="singleChatControl">
    <header>
        <h2>CHAT APP</h2>
        <button type="button" ng-click="logout()" style="float: unset;" style="margin:660px">Log Out</button>
    </header>

    <section>
        <nav>
            <ul>
                <p>Contacts List</p>

            </ul>
            <p ng-repeat="x in allUser" ng-click="person(x)" ng-show="currUserName!=x.firstname">
                {{x.firstname}}</p>
        </nav>

        <article>
            <form>
                <div class="groupChat">
                    <p class="username">{{recieverUserName}}</p>
                </div>
                <div class="chatLogs" ng-repeat="chat in allUserArr">
                    <div class="chat friend" ng-show="currUser != chat.senderUserId">
                        <p class="chatMsg"> {{chat.message}}</p>
                    </div>
                    <div class="chat self" ng-show="currUser == chat.senderUserId">
                        <!-- <div class="user-photo"> <img src=""></div> -->
                        <p class="chatMsg"> {{chat.message}}</p>
                    </div>
                </div>


                <div>
                    <textarea ng-model="message" rows="2" cols="70" class="text">Text Here</textarea>
                    <button type="button" ng-click="sendmessage()" style="float: right;" style="margin:660px">Send</button>
                </div>
            </form>
        </article>

    </section>



</body>

</html>